body {
    font-family: "Noto Sans", "Roboto", sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

@include pad() {
    .container{
        max-width: 95%;
    } 
}

@include iphoneX() {
    .container{
        max-width: 100%;
    } 
}


.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.pl-5{
    padding-left: 40px;
}

.pl-8{
    padding-left: 64px;
}

.pr-6{
    padding-right: 48px;
}

.pr-8{
    padding-right: 64px;
}

.mr-6{
    margin-right: 48px;
}

