.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 88px;
    background: #aa0601;
    .logo--big {
        img {
            display: block;
        }
    }
    .menu {
        display: flex;
        li a:hover {
            @include hover(orange, black);
        }
        a {
            padding-left: 64px;
            display: block;
            text-decoration: none;
            color: white;
        }
    }
}

@include pad() {
    .header {
        padding: 30px 39px;
        .menu a {
            padding-left: 40px;
        }
    }
}

@include iphoneX() {
    .header {
        flex-direction: column;
        padding: 0;

        .logo--big {
            width: 48px;
            height: 29px;
            margin: 10px 0;
        }
        .menu {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            li {
                width: 50%;
                padding-left: 0px;
                text-align: center;
                padding-top: 8px;
                padding-bottom: 8px;
                border-top: 1px solid white;
            }
            a{
                padding-left: 0px;
            }
            .sm--border {
                border-left: 1px solid white;
            }
        }
    }
}
