.qa-content {
    padding-top: 96px;
    padding-bottom: 128px;

    h1 {
        font-size: 48px;
        line-height: 80px;
        font-weight: bold;
        margin-bottom: 60px;
        padding-left: 16px;
        border-left: 8px solid #9f1213;
    }
    h2 {
        font-size: 32px;
        line-height: 63px;
        font-weight: bold;
        margin-bottom: 36px;
    }
    h3 {
        font-size: 20px;
        line-height: 23px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    p {
        // border: 1px solid #000;
        font-size: 16px;
        padding-bottom: 32px;
        padding-left: 10px;
    }
}

@include pad() {
    .qa-content {
        padding-top: 60px;
        padding-bottom: 72px;
        h1 {
            margin-bottom: 40px;
            border-left: 4px solid #9f1213;
        }
        h2 {
            font-size: 32px;
            line-height: 63px;
            margin-bottom: 32px;
        }
        p {
            // border: 1px solid #000;
            padding-bottom: 24px;
        }
    }
}

@include iphoneX() {
    .qa-content {
        padding-top: 28px;
        padding-bottom: 36px;
        h1 {
            font-size: 28px;
            line-height: 1;
            margin-bottom: 24px;
            padding-left: 8px;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 24px;
            line-height: 1;
        }
        h3 {
            font-size: 16px;
            margin-bottom: 8px;
        }
        p {
            // border: 1px solid #000;
            font-size: 14px;
            line-height: 21px;
            padding-bottom: 20px;
        }
    }
}
