.products__menu {
    ul {
        display: flex;
        justify-content: center;
        li {
            width: 33%;
            border: 1px solid #dee2e6;
            box-shadow: 0px 2px 6px #00000029;
            padding-top: 25px;
            padding-bottom: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
            }

            .products__word {
                display: flex;
                align-items: center;
                justify-content: center;
                span,
                h3 {
                    font-size: 32px;
                    line-height: 48px;
                    font-weight: bold;
                }
                h3 {
                    padding: 0 5px;
                }
            }
        }
    }
    ul li:hover {
        border-bottom: 5px solid #aa0601;
    }
}

@include pad() {
    .products__menu {
        ul {
            li {
                padding-top: 15px;
                padding-bottom: 15px;
                .products-word {
                    span,
                    h3 {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

@include iphoneX() {
    .products__menu {
        ul {
            li {
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 5px;
                .products__word {
                    span,
                    h3 {
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

.products__banner {
    display: flex;
    img {
        width: 50%;
    }
}

.celluloid__combi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 160px 0;
    h2 {
        font-size: 42px;
        line-height: 63px;
        font-weight: bold;
    }
    h3 {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 40px;
    }

    .cellproducts__menu {
        width: 100%;
        .cellproducts__menu--form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        li {
            width: 255px;
            padding-bottom: 104px;
            img{
                width: 255px;
                height: 163px;
            }
            span {
                font-size: 24px;
                line-height: 36px;
                font-weight: bold;
            }
            .cellproducts__menu--cellproduct {
                display: flex;
                justify-content: space-between;
                padding: 3px;
            }
            .cellproducts__menu--cellprice {
                color: #aa0601;
            }
            .cellproducts__menu--color-option {
                padding: 3px;
            }
            .cellproducts__menu--darkbrown,
            .cellproducts__menu--brown {
                width: 24px;
                height: 24px;
                display: inline-block;
                border-radius: 5px;
            }
            .cellproducts__menu--darkbrown {
                background: #5f3e2d;
            }
            .cellproducts__menu--brown {
                background: #b75929;
            }
        }
    }

    .pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
        li {
            display: inline;
            a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color 0.3s;
                border: 1px solid #ddd;
            }
            a.active {
                background-color: black;
                color: white;
                border: 1px solid black;
            }
        }
        li a:hover:not(.active) {
            background: orange;
        }
        .next-page {
            background: #f2f2f2;
        }
    }
}

@media (max-width: 1110px) {
    .celluloid__combi {
        max-width: 100%;
        padding-top: 56px;
        padding-bottom: 96px;
        h2 {
            font-size: 32px;
            line-height: 48px;
        }
        h3 {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 32px;
        }
        .cellproducts__menu {
            .cellproducts__menu--form {
                justify-content: center;
                li {
                    width: 45%;
                    padding-bottom: 72px;
                    margin: 0px 15px 0px 15px;
                    img {
                        width: 100%;
                    }
                    span {
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

@include iphoneX {
    .celluloid__combi {
        padding-top: 32px;
        padding-bottom: 56px;
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .cellproducts__menu {
            .cellproducts__menu--form {
                flex-direction: column;
                align-items: center;
                li {
                    width: 90%;
                    margin: 0;
                    padding-bottom: 32px;
                }
                span {
                    font-size: 16px;
                }
                .cellproducts__menu--darkbrown,
                .cellproducts__menu--brown {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .pagination {
            li {
                a {
                    float: left;
                    padding: 8px 12px;
                }
            }
        }
    }
}
